body{
    padding-top:50px;
    background-color:#34495e;
}
.img-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    padding: 0;
}
.img-circle-fav{
    border-radius: 50%;
    width: 73px;
    height: 73px;
    border: 1px solid #000000;
    padding: 0;
}
.profile-photo{
    text-align: center;
}
.profile-photo input{
    margin: 30px 0 0 15px;
    padding: 10px 15px;
}
.site-logo-box, .site-favicon-logo-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site_logo_preview,.site_fav_logo_preview{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid #000000;
    padding: 0;
}
.site_fav_logo_preview{
    width: 50px;
    height:50px;
}
#site_logo,#site_fav_logo{
    width: 50%;
}
.datainputs{
    margin-top:20px;
}
.datainputs input{
    font-size: 18px;
    line-height: 21px;
    color: #3D3D3D;
    height: 50px;
    padding: 0px 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 1px #D8D8D8;
    margin: 0px 30px 20px 0px !important;
}
input:focus{
    outline:none;
}
.add_input, .inputRemove{
    display: inline-block;
    color:#3d3d3d;
    text-align:center;
    text-decoration:none;
    width:auto;
    height:40px;
    line-height:40px;
    border:2px solid #3d3d3d;
    padding:0px 15px;
    border-radius: 5px;
}
.inputRemove{
    cursor:pointer;
}
.add_more_box{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.add_more_box.title.icon.links{
    width: 30%;
    margin: auto;
}
.add_more_box .add_remove_btn{
    width: 10%;
    margin: auto;
}
.add_more_box div input {
    width: 100%;
}
.page-sidebar .sidebar-menu .menu-items > li.active{
    background: #a5b5d3 !important;
}
.header .profile-dropdown-toggle:after{
    opacity: 0;
}
.profile_card{
    padding: 0;
    height:50vh;
}
.profile_card ul{
    background: #e1e1e1;
}
.profile_card ul li{
    border: 1px solid #c5c5c5;
}
.hiddenRow {
    padding: 0 !important;
}